[2016-06-26 07:54] rkujawa opened #1 "Creating separate repository for releases causes repo history lossage"
Hello.

Moving releases to a separate repository causes history loss. Anyone interested in the project's history can not track it anymore. It is irrecoverably lost, so please do not do this.

The correct way to do releases would be:
- keep separate repository for every project
- create GitHub release of a given project when needed
- creating release automatically creates a tag that links the given

[2016-06-29 10:07] hasherezade commented on #1
Thanks for the care :) I know how to do it and for my open-source projects I do it in this way:
https://github.com/hasherezade/IAT_patcher/releases
However, I wanted to have a place to host my freeware, non-opensource projects, so I took advantage of this GitHub's feature.
It is intentionally not connected to any code repository.

[2016-06-29 10:11] rkujawa commented on #1
Understood. Though I vaguely remember seeing pe-bear sources in a separate repository before, here on GitHub? That's probably where my incorrect assumption came from.

[2016-06-29 10:14] hasherezade commented on #1
I guess you mean bearparser (https://github.com/hasherezade/bearparser/) that is a part of PE-bear's code, but not a PE-bear itself (no GUI etc)

[2016-06-29 10:15] rkujawa commented on #1
Right, sorry for the noise then 😃 .

[2016-06-29 10:15] #1 closed

[2018-04-08 19:52] upiter opened #2 "PE-bear for macOS"
@hasherezade, do you plan to release **macOS** version of PE-bear?
Currently I succeeded to run 32 bit version of PE-bear `v0.3.8` on macOS under Wine (3.0), but it's not native as Win/Linux version, sure.

[2018-04-08 21:27] upiter commented on #2
Thank you for your willingness.
I see different options:
- I could build it on my system (OS X 10.11.6 El Capitan) using `cmake` or `qmake` (via something like your `*_autobuild.sh`)
- You could use public build services
- You could use VM environment

[2018-04-08 21:55] hasherezade commented on #2
I am planning to build it using Travis CI. I need to check details, but I think it should be possible.

[2018-04-08 23:01] upiter commented on #2
@hasherezade remember that [Travis CI](https://travis-ci.com/plans) is free for open source projects only

[2019-01-13 18:13] MalwareCantFly commented on #2
2019, and the world still needs PE-bear for Mac OS :)
I could try and build it on my machine, if you are willing..

[2019-01-14 20:52] MalwareCantFly commented on #2
Amazing news!
Thank you! :)

[2019-01-23 03:04] hasherezade opened #3 "Crash on adding new section (bug in 0.3.9)"
Not observed in the previous release: 0.3.8

#### Test case
PE-sieve32.exe 0.1.6 (e92ed07132888ff8be1f52a9b2b36f21)

#### Problem
After we try to add any section with non-zero size, program crashes. Adding a new empty section does not cause any issues.
32-bit Windows build:
![crash_on_adding_new_sec](https://user-images.githubusercontent.com/3115348/51579932-11f16700-1ec3-11e9-89fe-a29ff501e7f4.pn

[2019-01-23 03:38] hasherezade opened #4 "Incomplete refreshing after the import table is moved (0.3.9)"
This error was not present in the release 0.3.8

#### Test case
(any), i.e 522adc8aec9ce16adc333ef1b75fcf63

#### Problem
When the Import Table is moved to the new offset, the view is not refreshed properly, i.e. offsets in the upper table are displayed as invalid:
![import_offsets](https://user-images.githubusercontent.com/3115348/51581466-7236d780-1ec8-11e9-84d0-9bebbafa6fe0.png)

[2019-01-23 16:37] hasherezade opened #5 "Crash on adding a new import"
#### Test case
PE-bear.exe 64-bit (SHA1: 2c06d4a6e741f5e05cd27c6edc829af52d2d4b2a, MD5: e6ee2f21bdc78214954a75c7d967ee25)

#### Problem
This issue occurs in 64-bit version of PE-bear.
Steps to reproduce:
1. Open PE-bear64 in PE-bear64
2. Click on Imports -> Move dir table -> offset 0x300.
3. Add library.
4. Select the added library (don't make any changes in the record)
![added_lib](https://user-i

[2019-01-26 04:01] hasherezade opened #6 "Wrong interpretation of addresses (VA is treated as RVA)"
#### Test case
api-monitor-v2r13-setup-x86.exe (4101c50740c5c1ac9da9c7db2a03ffe6d758e829)

#### Problem
In DelayloadImports addresses can be defined either as VA or as RVA. PE-bear should recognize automatically the address type. However, in this case VA was mistakenly recognized as RVA. Due to this, parsing of the full table has failed:

![delayed_imp](https://user-images.githubusercontent.com/31

[2019-01-26 04:04] hasherezade commented on #6
Fixed in 0.3.9.5:

![delay_imp_fixed](https://user-images.githubusercontent.com/3115348/51782397-b96ed380-2127-11e9-850f-8a1622072ec9.png)

[2019-01-26 04:04] #6 closed

[2019-01-26 04:05] hasherezade commented on #3
Fixed in 0.3.9.5

[2019-01-26 04:05] #3 closed

[2019-01-26 04:05] hasherezade commented on #5
Fixed in 0.3.9.5

[2019-01-26 04:05] #5 closed

[2019-01-26 04:05] hasherezade commented on #4
Fixed in 0.3.9.5

[2019-01-26 04:05] #4 closed

[2019-03-14 17:41] hasherezade opened #7 "Crash during parsing sections if the ImageSize is 0"
PE-bear 3.9.5
## Test case
[ff62105e788f41812057f44955783e1e](https://malshare.com/sample.php?action=detail&hash=ff62105e788f41812057f44955783e1e) - Neurevt dump
## Problem
When we switch the tab to display the sections, PE-bear crashes:
![pebear_crash](https://user-images.githubusercontent.com/3115348/54378958-bc4a6700-4688-11e9-8772-70f8a0ce1660.png)

[2019-04-26 14:22] hasherezade commented on #7
Fixed:
![fixed](https://user-images.githubusercontent.com/3115348/56814385-65b37980-683f-11e9-92c1-d307d513faeb.png)

[2019-07-07 11:52] mrexodia opened #8 "Plans to open source?"
Hello,

Are there any plans to open source pe-bear? I like the tool and would like to do some minor quality of life improvements, or since it's Qt maybe do a plugin for x64dbg. On your blog you commented that the source would be available after some time, but this was 6 years ago :slightly_smiling_face:

Best regards,

Duncan

[2019-08-20 08:17] Dor00tkit opened #9 "malformed PE prevents from bearparser to locate the imports"
NOTE: I discovered this trick when i was dealing with an old crackme (2004) written by Nicolas Brulez.

The trick will prevent PE-bear (that using bearparser) (and many other tools) to correctly parsing the Imports.

In the case that the last section of the PE file is the section where the Imports are residing, we can perform the following steps:

1. Create a new section (named _new_imp_).

2. Set

[2019-11-18 02:09] hasherezade commented on #9
ok, it should work fine in the latest release: [0.3.9.7](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.3.9.7) of PE-bear.
![pebear_fixed](https://user-images.githubusercontent.com/3115348/69019366-9d873780-09b0-11ea-88ca-8175a42a24f3.png)
Please check it out. Thank you for your contribution!

[2019-11-18 02:11] #7 closed

[2019-11-18 08:39] #9 closed

[2019-11-20 18:35] hasherezade opened #10 "Rewrite the hexeditor component"
It's a well-known fact, that the PE-bear's hexeditor is a half-baked component, and should be replaced with a redesigned, fully-functional version.

[2019-11-20 18:39] hasherezade opened #11 "GuardCFFunctionTable: parse all formats of entries"
### Test case
+ [a547729d4921eebd127819817d1e3a8d4c302ed9d4b6ad3579b3bac21279c287](https://www.virustotal.com/gui/file/a547729d4921eebd127819817d1e3a8d4c302ed9d4b6ad3579b3bac21279c287/detection)
+ [expected output](https://gist.github.com/hasherezade/0fd1ad26be47cb481f6a69ee1681e9e8)

Currently PE-bear don't parse correctly some of the entries' types. They should be displayed like in  dumpbin.
Exa

[2020-01-25 01:58] hasherezade opened #12 "Unreadable text in a dark mode"
When the system uses a dark theme, the text in the hexeditor becomes unreadable:
![pe-bear-bug](https://user-images.githubusercontent.com/3115348/73114834-87e93d80-3f1e-11ea-8b2e-843d2345f6ae.png)

[2020-01-25 04:34] hasherezade commented on #12
Fixed in [v0.4.0.1](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.4.0.1)

![pe-bear-fixed](https://user-images.githubusercontent.com/3115348/73116294-43689c80-3f34-11ea-9c13-e0b681c05c01.png)

[2020-01-25 04:34] #12 closed

[2020-02-08 05:58] CaledoniaProject opened #13 "Remove width limit on the tree view"
It looks like you set a maximum width on the tree view. It's too narrow on scaled screens:

![screenshot 2020-02-08 at 1 56 20 PM](https://user-images.githubusercontent.com/1357701/74080058-e5cb6880-4a7a-11ea-806e-b4ea13fd9ee9.jpg)

[2020-02-08 05:58] CaledoniaProject commented on #13
It's already at its maximum allowed width, the bar in the middle is not draggable to the right.

[2020-02-08 06:35] hasherezade commented on #13
Thank you for reporting, I will take care of this soon!

[2020-02-19 18:29] hasherezade commented on #13
@CaledoniaProject  - this problem should be fixed in the latest release, please check if this is what you expected: https://github.com/hasherezade/pe-bear-releases/releases/tag/0.4.0.2

[2020-02-20 01:50] CaledoniaProject commented on #13
Looks good to me

[2020-02-20 01:50] #13 closed

[2020-03-15 20:50] hasherezade opened #14 "Show the meaning of differences in bytes between compared binaries"
So far PE-bear allows to compare two PE files at byte level:

![diff_window](https://user-images.githubusercontent.com/3115348/76710291-8f4eeb00-6706-11ea-90b5-c20b113ec12a.png)

Yet, the interpretation of this comparison requires additional effort.
PE-bear should be able to allow finding the corresponding elements easily in other views, eventually also highlighting them.

![diff_meaning](https://

[2020-04-10 07:09] hasherezade opened #15 "A user-friendly address converter"
As per [user request](https://hshrzd.wordpress.com/pe-bear/#comment-19618): add a convenient address converter. Possibly on a new tab.

[2020-04-18 15:44] hasherezade opened #16 "Not recognizing TLS Callbacks for 64 bit applications"
### Samples:

[tls_samples.zip](https://github.com/hasherezade/pe-bear-releases/files/4496905/tls_samples.zip)

### Issue:

Both samples are builds of the same application: 32 and 64 bit, with TLS callbacks. However, PE-bear do not list the callbacks in the 64 bit application.

In 64 bit:

![tls_64b](https://user-images.githubusercontent.com/3115348/79642148-2e4e8300-819c-11ea-9549-beedab718b5e.pn

[2020-05-19 21:14] hasherezade commented on #16
Fixed in [0.4.0.3](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.4.0.3)

[2020-05-19 21:14] #16 closed

[2020-06-26 06:22] hasherezade opened #17 "A glitch in the GUI - double arrow (on Win 10)"
There is a glitch in the way in which the arrow on the side panel is rendered:

![glitch](https://user-images.githubusercontent.com/3115348/85827169-02e0a980-b786-11ea-9caa-e6c458f9c378.png)

Interestingly, it occurs only on Windows 10.

[2020-07-09 15:45] vmsv opened #18 "Linux compilation for libqt5"
Hi, are you planing on releasing a version compiled with libqt5 for compatibility with Ubuntu 20.04?

[2020-07-09 16:05] hasherezade commented on #18
Hi! Yes, this definitively will be done in upcoming months. Currently I am too busy with other things, but the refactoring to Qt5 is almost done. It just needs fixing some of the GUI elements, and some more testing. As long as I will be done with my current deadlines, I will take care of this.

[2020-08-17 18:36] hasherezade commented on #18
Check the latest release! It is refactored to Qt5: https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.0

[2020-08-17 20:25] vmsv commented on #18
Thx. Great work

On Mon, 17 Aug 2020 at 19:36, hasherezade <notifications@github.com> wrote:

[2020-08-17 21:10] hasherezade commented on #18
Feel free to close this issue once you confirmed that everything works fine.

[2020-08-25 07:30] laomaiweng opened #19 "Make large tables sortable"
Hi, and first of all thank you for this awesome tool! I switched over from CFF Explorer with the release of PE-bear 0.5.0 and I'm not looking back. :)

I'd just like to suggest a minor GUI enhancement: make some tables sortable, particularly the `GuardCFFunctionTable` and `Exported Functions` tables. These tables may contain upwards of 2k entries for e.g. _ntdll.dll_, and are presented in `Offset`

[2020-08-25 11:50] hasherezade commented on #19
Thank you, that's a good suggestion! I will try to make it ready for the next release.

[2020-09-14 10:14] #18 closed

[2020-09-14 10:14] vmsv commented on #18
Works perfectly.

[2020-10-08 17:56] Kargin opened #20 "Bug with resizing a sample, when it is not necessary"
Hello!
I clicked resize in "Sections" tab and after this my sample fails with error after executing. I found that it was because `SizeOfImage` changed because of resizing.
![pe_bear_bug](https://user-images.githubusercontent.com/4302614/95495482-2aabf400-09a8-11eb-8894-15bde4c52d3c.png)
On the picture there is `Last mapped RVA` calculated `0x4C200`, when `Section Alignment` is `0x2000`. In my opin

[2020-10-15 16:54] hasherezade commented on #15
Conversion has been added in the Dialogs: go to Virtual, go to Raw:
![go_to_addr](https://user-images.githubusercontent.com/3115348/96161578-bfb66c00-0f17-11eb-9512-f6812a0038d4.png)

![go_to_virtual](https://user-images.githubusercontent.com/3115348/96161414-8bdb4680-0f17-11eb-9817-3e59badb5495.png)

![go_to_raw](https://user-images.githubusercontent.com/3115348/96161299-62221f80-0f17-11eb-8a8f-1

[2020-10-15 20:31] #15 closed

[2020-10-16 13:12] hasherezade opened #21 "Invalid RVA -> VA conversion in "go to raw""
The raw address is correctly converted to RVA:

![go_to_raw1](https://user-images.githubusercontent.com/3115348/96262278-de713d00-0fc1-11eb-93df-2f99d7e076d8.png)

However, if we choose conversion to VA, the image base is (mistakenly) added to the raw address, instead of to RVA:
![go_to_raw2](https://user-images.githubusercontent.com/3115348/96262350-f5b02a80-0fc1-11eb-9069-1daa068e197e.png)

This

[2020-10-16 16:05] hasherezade commented on #21
Fixed in [0.5.1.1](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.1.1)

![fixed_511](https://user-images.githubusercontent.com/3115348/96281743-0ec4d580-0fda-11eb-9752-7576ecdee570.png)

[2020-10-16 16:05] #21 closed

[2020-10-17 16:34] Kargin commented on #20
Fixed in 0.5.1:
https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.1
Closing issue.

[2020-10-17 16:34] #20 closed

[2020-10-25 03:36] DrakoPensulo opened #22 "Add Font Size Change Option"
On machines with large resolution (like MS Book 2) the default font size may be too tiny for some users. It would be helpful for them to have option to make fonts larger (including the menu bar),

[2020-10-25 04:02] hasherezade commented on #22
Funny coincidence, today I started working exactly on this feature. It is already implemented for some elements, for example:

![feature](https://user-images.githubusercontent.com/3115348/97098618-155ce800-167f-11eb-8679-dbd96c2fa7d6.png)

I will allow for changing fonts for other elements too.

[2020-10-25 06:09] sunsh92 opened #23 "View overlay and change icon size"
Thank you for the great Pe editor

I wish I could see the size and location of the overlay data.

If you use a high-definition monitor, the icon size is too small.

![image](https://user-images.githubusercontent.com/73417160/97100181-0ce2cc80-16d4-11eb-9289-1ffacc4b4170.jpg)

[2020-11-10 04:22] hasherezade commented on #22
soon in PE-bear:

![pebear_fonts](https://user-images.githubusercontent.com/3115348/98627440-8dc8d780-2314-11eb-97a0-a63afbbb7111.png)

![changed_fonts](https://user-images.githubusercontent.com/3115348/98627500-b2bd4a80-2314-11eb-9ba7-07755f2c29f6.png)

![screen_pebear](https://user-images.githubusercontent.com/3115348/98627313-3a568980-2314-11eb-8130-260683d7a4b6.png)

[2020-11-10 04:26] hasherezade commented on #23
Thanks for the suggestion, I will do it!

[2020-11-18 08:27] hasherezade commented on #22
please check the new build: https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.2

[2020-11-18 09:10] evandrix commented on #8
what is the main reason for not releasing the source code?

[2020-11-19 03:58] DrakoPensulo commented on #22
Good job. Thanks for the update.

[2020-11-19 05:14] hasherezade commented on #8
the reason is simple, it is my old code that was not maintained for several years (I am starting to do it now) and I am not happy about its quality.

[2020-11-19 05:30] hasherezade commented on #22
I am glad that you like. Do you have any other remarks regarding this feature? If not, feel free to close the issue.

[2020-11-21 11:13] qwertzy-qwertzy-qwertzy opened #24 "Ability to see/search strings from within PE-Bear"
Would be great if PE-Bear would display a list of all the strings and allow filtering them (both ANSI and Unicode), as an example (screen taken from die):
![die_example_search_func](https://user-images.githubusercontent.com/74644600/99875817-5f87a980-2bea-11eb-82bc-1a75783c18d3.png)

[2020-11-21 11:32] qwertzy-qwertzy-qwertzy opened #25 "Display PE structure data organization"
Would be great if PE Bear would display how the PE file data is organized in a visual manner. Example from Portex:
![portex_example_pe_structure](https://user-images.githubusercontent.com/74644600/99876117-8cd55700-2bec-11eb-827e-34a4715c1ebd.png)
Example from ghidra:
![ghidra_example_pe_structure](https://user-images.githubusercontent.com/74644600/99876159-cad27b00-2bec-11eb-835f-061c3108fc8a.png

[2020-11-22 08:20] hasherezade commented on #22
An improved version https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.2.2

[2020-11-22 08:26] hasherezade commented on #24
This is definitely a good feature, and I was already thinking of adding a "strings" tab. It will be done soon!

[2020-11-22 08:31] hasherezade commented on #25
I think in PE-bear, the best fit could be to add the entrypy view as an alternative mode on the side view:

![side_view](https://user-images.githubusercontent.com/3115348/99898878-53aced80-2ca5-11eb-8b0b-c4a018b10613.png)

For now it shows sections, but I could add a context menu that would switch it into an entropy diagram. What do you think?

[2020-11-22 12:09] qwertzy-qwertzy-qwertzy commented on #25
That would be great, thank you. Could you make the slider movable? at the moment its position seems to be set to fixed and if I increase the font size the labels get cut
![slider](https://user-images.githubusercontent.com/74644600/99903315-8530b380-2cbb-11eb-81ab-823df0bae8bb.png)

[2020-11-22 13:40] hasherezade commented on #25
which version are you using? and on which OS?
I am using 0.5.2.2 and cannot reproduce the problem you described. Even with very big font size (39) I had no such problem.

![supersized](https://user-images.githubusercontent.com/3115348/99905348-8e784b00-2cd0-11eb-8f23-a9f1409f1695.png)

[2020-11-22 13:42] hasherezade commented on #25
But I guess it may be some detail about wider font that I overlooked. I will check it, and fix scaling with the next release.

[2020-11-22 14:19] qwertzy-qwertzy-qwertzy commented on #25
PE-Bear: 0.5.2.2
OS: Ubuntu 20.04

I think the issue is with the font itself: Free Pixel Regular, size 12, URL: https://fonts2u.com/free-pixel-regular.font
with Ubuntu Regular it is just fine. I'll close the issue
![font_ok](https://user-images.githubusercontent.com/74644600/99906201-b0240300-2ccd-11eb-84f1-f11ea6424f18.png)

[2020-11-22 14:22] #25 closed

[2020-11-22 14:23] hasherezade commented on #25
ok, anyways thanks for the headsup. some fonts are atypical, I tested with the ones that I had. anyways, giving it a bit more margin won't harm, so I will do it next time.

[2020-11-25 03:38] DrakoPensulo commented on #22
There is a problem with fonts in the leftmost column in Disasm window. It looks like few top lines of letters are truncated.
![p1](https://user-images.githubusercontent.com/29009016/100180235-596d2380-2e9d-11eb-97fd-1ffacd1e58d2.png)
![p2](https://user-images.githubusercontent.com/29009016/100180237-5a05ba00-2e9d-11eb-985f-6e195ae7f9f1.png)

[2020-11-25 05:48] hasherezade commented on #22
Thank you for reporting. What exactly is the font/size/OS used? Does the problem occur with other fonts also?

[2020-11-25 06:26] hasherezade commented on #22
I see that on your machine also the icons are not scaling properly, so those 2 problems are probably interrelated. It could be caused by some problems with how the Qt interacts with your platform - looks like it does not retrieve the font metrics properly. I will try to make a workaround for this, but first I need to know more details about your platform, in order to be able to reproduce it on my

[2020-11-27 01:39] DrakoPensulo commented on #22
My machine: MS Surface Book 2. Windows 10. I believe it is High DPI. The font used in Disasm window is Segoe UI (it seems it is the default font). Font size 19 (regular) and smaller. I tested few other fonts, the  problem is the same.

[2020-11-27 10:23] hasherezade commented on #22
I cannot reproduce this error on any of my machines, and I don't have MS Surface Book 2 to test there. Are you available to help me in testing? I will be sending you new builds, and you just have to deploy them and see if they work fine, sometimes read some parameters and send me back. If you are agree, please send me an e-mail: hasherezade@pm.me

[2020-11-30 17:10] LordGarfio opened #26 "Compile versions compatible with Windows XP"
Hello Mr. hasherezade,

PE-Bear versions released up to v0.4.0.3 work fine on Windows XP Pro SP3 and from v0.5.0 until v0.5.2.2 it no longer works.

Hereby, Can you compile a release to Windows XP ?

Thanks you in advanced.

[2020-11-30 22:40] hasherezade commented on #26
Hi!
The reason why PEbear stopped working on Windows XP, is that it got switched from Qt4 to Qt5. Unfortunately, making Qt5 work on Windows XP is quite problematic (more about it [here](https://stackoverflow.com/questions/50255414/is-it-possible-to-run-a-qt-5-10-programm-on-xp) ) - and the latest version of Qt5 don't support Windows XP at all.
Since the support of Windows XP is officially dropped

[2020-12-01 00:18] LordGarfio commented on #26
Okay hasherezade.

I hope the following information is useful for the cause:

How to build in Windows (XP) ?
 - Install Visual Studio 2013 (en_visual_studio_community_2013_with_update_5_x86_dvd_6816332.iso).
 - Install Qt 5.6.3 for VS2013 (qt-opensource-windows-x86-msvc2013-5.6.3.exe).

The information above has been taken from github.com/horsicq/Detect-It-Easy

Thanks you.

[2020-12-04 18:56] hasherezade commented on #22
ok, I managed to prepare the environment where I can reproduce it, so I don't have to bother you about it for now. It is related with scaling on Windows 10.

![reproduced](https://user-images.githubusercontent.com/3115348/101202981-4fe87600-366a-11eb-9977-a9f477ead655.png)

I will just let you know once the fix is ready, so that we can test it together before the release.

[2020-12-07 20:43] hasherezade commented on #22
please check the latest release: https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.2.3

[2020-12-08 03:57] DrakoPensulo commented on #22
The new release 0.5.2.3 resolves the issue. Thank you..

[2020-12-08 03:57] #22 closed

[2020-12-10 03:18] hasherezade opened #27 "Dumping overlay into a file"
Add an option to a context menu to that will allow dumping overlay to a file (just as it is done with sections).

![show_overlat](https://user-images.githubusercontent.com/3115348/101716899-883ee880-3a9e-11eb-8c45-3a25c0ab2078.png)

[2020-12-18 19:20] hasherezade opened #28 "Name of the section is not displayed properly on the diagram"
In case of some fonts that are wider than average, the description of the section will overflow the dedicated area. Example:

![pebear_font](https://user-images.githubusercontent.com/3115348/102652914-716b5680-416e-11eb-8b69-a20d6d4d30e0.png)

[2020-12-28 13:48] catafest opened #29 "not working with a PE build by fasm"
The file for test was build with [fasm](https://flatassembler.net/)
[code]
The result is a crash :
[code]

[2020-12-28 14:01] hasherezade commented on #29
Thank you for reporting. Can you please attach (or send me via e-mail) the exact PE that caused the crash?

[2020-12-28 15:08] hasherezade commented on #29
Thank you for your e-mail I checked the package that you sent:

[wetransfer-d6d2e4.zip](https://github.com/hasherezade/pe-bear-releases/files/5747743/wetransfer-d6d2e4.zip)

However, I cannot reproduce the error. On my side, the PE opened with no errors:

![pebear_screen](https://user-images.githubusercontent.com/3115348/103223368-5cd54e00-4926-11eb-8ee6-ac76c7b78fe0.png)

I tried on Linux and on

[2020-12-28 15:19] hasherezade commented on #29
also, try to update your Qt and let me know if it helps.

[2020-12-28 17:29] catafest commented on #29
[code]

[2020-12-29 07:30] hasherezade commented on #29
I don't think your video card could be a problem, rather different versions of libraries than those with which the PE-bear's binary was compiled.
Did you experience similar crashes on load of other executables as well, or only with those that are compiled with fasm?

[2020-12-30 11:58] catafest commented on #29
I think you need to create a bash sh file for each project.
Also, you need to put the libs used this sh or to tell people how libs need to used.
The idea to scan files and check them has a good format is great.

[2020-12-30 12:30] hasherezade commented on #29
Can you check this? I added my Qt to the package, let's see if it helps:

[PE-bear_0.5.2.3_test.tar.gz](https://github.com/hasherezade/pe-bear-releases/files/5754185/PE-bear_0.5.2.3_test.tar.gz)

[2021-01-06 01:04] ethanr0x opened #30 "Adding the CLI/CLR Header under the DataDirectories node"
Hi there,

it would be great if some .NET awareness could be added to already great tool.

[2021-01-06 01:39] hasherezade commented on #30
Hi! Thank you for the suggestion! I am agree with you that .NET header parsing would be useful. It is already on my TODO but I will give it a higher priority.

[2021-01-16 16:45] hasherezade commented on #30
Please check the latest release, this bug was fixed:
https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.3

![data_dir_entry](https://user-images.githubusercontent.com/3115348/104817581-74676e80-5822-11eb-9067-c1d64c2ab0a7.png)

In addition, I am planning to add parsing of the whole .NET header in the next release. It will be displayed on additional tab.

[2021-01-17 08:34] ethanr0x commented on #30
Good job :)

[2021-01-17 08:34] #30 closed

[2021-01-19 01:43] hasherezade commented on #11
Fixed since [0.5.3](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.3):

![table](https://user-images.githubusercontent.com/3115348/104977474-ec3ec000-59ff-11eb-93ed-30ae9f838eb8.png)

[2021-01-19 01:43] #11 closed

[2021-01-30 20:30] analyst321 commented on #2
Any progress in this? Really would LOVE a Mac build :(

[2021-01-30 20:51] hasherezade commented on #2
@analyst321 - sorry for the delays in this, I have many things that keep me busy (including other free projects). but I will give it a higher priority on my TODO.

[2021-01-30 22:35] analyst321 commented on #2
Hey, no of course, you're doing amazing contributions to the community. If you ever get some time for this, that'd be awesome. Otherwise no worries, everyone has VMs up anyway :)

[2021-01-30 23:05] hasherezade commented on #2
slowly but steadily, I keep refactoring the code of PEbear and prepare it for going open source. I don't want to promise any precise date, but this year it will happen. and then you can build PEbear on every platform that is supported by Qt (Windows/Linux/MacOS).

[2021-02-12 22:21] hasherezade opened #31 "Glitch in displaying the "<invalid>" address marker"
Problem - the "invalid" marker is displayed in a distorted way:

![pebear_invalid](https://user-images.githubusercontent.com/3115348/107828284-d4512680-6d88-11eb-8fc6-603c6366d8c0.png)

[2021-02-12 23:00] hasherezade commented on #31
Fixed in [0.5.3.2](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.3.2)

![pebear_fixed](https://user-images.githubusercontent.com/3115348/107831473-71628e00-6d8e-11eb-888b-b4aceb732b50.png)

[2021-02-12 23:00] #31 closed

[2021-02-12 23:01] hasherezade commented on #26
@LordGarfio - I added a legacy build to the recent release:

https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.3.2

[2021-02-12 23:06] LordGarfio commented on #26
Thanks you,

PE-bear x32 v0.5.3.2 Legacy works fine on Windows XP SP3 with POSReady 2009.

[2021-02-12 23:10] LordGarfio opened #32 "PE-bear x32 v0.5.3.2 win vs10 Qt4 Legacy"
PE-bear x32 v0.5.3.2 win vs10 Qt4 Legacy

In the "Compare..." window when I press Next-Diff button, both HexDump panels be move at once, however when I press the mouse scroll button, only one panel is moved.

Can you put an option move both panels at once with the mouse device ?

Cheers.

[2021-02-16 19:51] hasherezade commented on #32
I will change it eventually, but for now it has a low priority.

[2021-04-04 15:12] hasherezade opened #33 "Wrong DOS stub size"
Sample:
[a547729d4921eebd127819817d1e3a8d4c302ed9d4b6ad3579b3bac21279c287](https://www.virustotal.com/gui/file/a547729d4921eebd127819817d1e3a8d4c302ed9d4b6ad3579b3bac21279c287/detection)

In this sample the PE header starts in the middle of the DOS header:

![dos_header](https://user-images.githubusercontent.com/3115348/113513199-b58d3600-9568-11eb-880e-ed1a4813358f.png)

As a result the size of D

[2021-04-18 23:00] xambroz opened #34 "segfault on Fedora 33"
Hello,
unfortunately the Linux binary segfaults on Fedora 33 straight after entering the file to analyze.

Python Exception <class 'AttributeError'> 'NoneType' object has no attribute 'type':
"/proc/2014477/root"
[Thread 0x7fffe3fff640 (LWP 2014488) exited]

Thread 1 "PE-bear" received signal SIGSEGV, Segmentation fault.
0x00007ffff6f19a26 in QFile::readLink(QString const&) () from /lib64/libQt5Co

[2021-04-18 23:07] xambroz commented on #34
qt5-qtbase-5.15.2-15.fc33.x86_64
qt5-qtbase-common-5.15.2-15.fc33.noarch
qt5-qtbase-devel-5.15.2-15.fc33.x86_64

[2021-04-18 23:39] xambroz commented on #34
Seems to be issue with all the QT5 builds, The QT4 builds work ok.
Tested with :
- 0.4.0.3 ... OK
- 0.5.2    ...  SIGSEGV
- 0.5.3.2 ...SIGSEGV

[2021-04-19 14:05] hasherezade commented on #34
Hi,
Thanks for reporting. It seems just a Qt version incompatibility. PE-bear was built with an older version of Qt5 than the one you have installed. I will provide new builds soon, and for the future I will try to bundle PE-bear with the exact version with which it was built.

[2021-04-20 20:19] xambroz commented on #34
Thank you.

[2021-05-24 05:43] hasherezade commented on #33
Fixed in [0.5.4](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.4)

[2021-05-24 05:43] #33 closed

[2021-05-26 16:15] SaifRushdHadad commented on #8
Any progress on this issue?

[2021-07-19 16:29] hasherezade commented on #34
Hi! Did you try the new builds: [0.5.4](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.4) ?
I tested it on Fedora, and while the version with Qt 5.12 indeed seqfaults, the version with **Qt 5.14 worked fine** for me.

![fedora_test](https://user-images.githubusercontent.com/3115348/126193923-3a8721fe-b8ee-49d7-b8df-dab8001acb4e.png)

I was using Fedora 34 for my tests though.
Ple

[2021-07-19 16:31] hasherezade commented on #29
It seems to be the same issue as here: https://github.com/hasherezade/pe-bear-releases/issues/34
Please let me know if the build with **Qt 5.14** works fine for you. It is this one:

https://github.com/hasherezade/pe-bear-releases/releases/download/0.5.4/PE-bear_0.5.4_qt5.14_x64_linux.tar.xz

[2021-08-06 10:15] learn-more opened #35 "Feature request: Show PE summary in the status bar."
PPEE shows a summary about the current file in the status bar.
Since most of the status bar is unused in PE-Bear, it would be useful to have some more info displayed there.

Example from PPEE:
![image](https://user-images.githubusercontent.com/610685/128495737-c63602e8-9e13-4b92-877b-05049dce05d6.png)

[2021-10-16 10:04] trufae opened #37 "Feature Request: File->New Window"
Instead of having to run the tool again, and maybe bind that to a key combination to not depend on the mouse.

[2021-10-16 10:06] trufae opened #38 "Feature Request: Detect when the file in disk has changed and ask the user to reload it"

[2021-11-11 23:45] hasherezade commented on #38
Hi! I implemented this feature, would you like to test it?
Here is the build:

[PE-bear_0.5.4.1-a_x64_win_vs13.zip](https://github.com/hasherezade/pe-bear-releases/files/7523839/PE-bear_0.5.4.1-a_x64_win_vs13.zip)

There is an option in Settings that allows to regulate if the file should be reloaded automatically, or show a popup:

![configure_reload](https://user-images.githubusercontent.com/3115

[2021-11-12 00:04] hasherezade commented on #38
I implemented this feature, please have a look at the builds and let me know what do you think:
+ [PE-bear_0.5.4.1-a_x64_win_vs13.zip](https://github.com/hasherezade/pe-bear-releases/files/7523906/PE-bear_0.5.4.1-a_x64_win_vs13.zip)
+ [PE-bear_0.5.4.1-a_x86_win_vs13.zip](https://github.com/hasherezade/pe-bear-releases/files/7523907/PE-bear_0.5.4.1-a_x86_win_vs13.zip)

You can change in the setting

[2021-11-23 18:18] hasherezade commented on #38
Hi, sorry for the delay - I was busy with other things. But I think I fixed it now. Please have a look at the new version:

+ [PE-bear_0.5.4.1-b_x64_win_vs13.zip](https://github.com/hasherezade/pe-bear-releases/files/7590243/PE-bear_0.5.4.1-b_x64_win_vs13.zip)

[2021-11-24 13:23] trufae commented on #38
I can confirm it works well now :) no double reloads!

[2021-11-24 15:02] #38 closed

[2021-11-24 21:22] hasherezade commented on #37
Please have a look at the test build, and let me know if this is what you mean:

+ [PE-bear_0.5.4.1-c_x64_win_vs13.zip](https://github.com/hasherezade/pe-bear-releases/files/7598759/PE-bear_0.5.4.1-c_x64_win_vs13.zip)

[2021-11-25 02:00] droberson opened #39 "Feature Request: Load multiple files using CLI and File->Open dialog"
PE-Bear allows you to specify a file to load from a prompt. Specifying more than one file only opens the first specified:

    % PE-bear one.exe
    % PE-bear one.exe two.exe three.exe    #### Only loads one.exe

Multiple files can be subsequently opened using File->Load PE or Control+O, but this dialog also appears to support loading one file at a time, which can become tedious when working with

[2021-11-25 21:03] hasherezade commented on #39
Thank you, this is a good idea, I will add a support for a list of files supplied from a commandline.

I don't know if you noticed, but you can also drag and drop multiple files at the same time, and all of them will be loaded.

[2021-11-26 16:14] trufae commented on #37
Works as expected! thanks!

[2021-11-26 16:14] #37 closed

[2021-11-28 22:50] hasherezade commented on #39
I added it in the new release - please check it out:
https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.5

[2021-11-29 01:44] xorhex opened #40 "Discrepancy in PDB GUID Value"
Sample: https://malshare.com/sample.php?action=detail&hash=53a8a63c14bb562ab71bf2283f10e3ed23717f7393aa3f6f8eb213ac48465769

The value shown in the RSDS table (GUID) at the bottom aren't matching the values in the hex display at the top.

![debug_guid_discrepancy](https://user-images.githubusercontent.com/40742023/143796233-d468a2bd-f450-4abf-99c6-0110a1b25ba8.png)

[2021-11-29 15:44] hasherezade commented on #40
Thank you for reporting! Indeed there was an error in formatting of the string. I fixed it:

![pebear_fixed](https://user-images.githubusercontent.com/3115348/143898263-c1a6207c-8848-4db4-9384-eb182f014aaf.png)

It will be included in the next release.

[2021-11-30 03:28] droberson commented on #39
works great. thank you very much!

[2021-11-30 18:53] #39 closed

[2021-12-05 16:05] learn-more opened #41 "Import editor 'Add a library' not working"
Hello,

When trying to add a library in the import editor (after moving the data directory table to a new section) the new entry is red,
a name cannot be entered (doubleclicking the name allows to type it in, but then saving it makes it empty again).
The 'OriginalFirstThunk', 'NameRVA' and 'FirstThunk' are all set to 0xffffffff, and cannot be edited.
Clicking 'Add a function to the library' shows

[2022-01-11 09:53] Kargin opened #42 "PE-Bear crashes with this file"
Hello!

I tried to view this file:
https://www.virustotal.com/gui/file/db9de8ff7ed80cf7563502c25d6aad2e2fee258da407c52a6c4a2192f9170d14/details
with latest version of PE-Bear (0.5.5).
![image](https://user-images.githubusercontent.com/4302614/148920365-ff2a6546-3673-4fd3-abc9-fddeb0b492e8.png)
It loads layout of this file in left pane. I can see tabs with sections names, headers, etc.
Also when I

[2022-01-11 19:10] hasherezade commented on #41
Hi! sorry for the late response, I was busy.
It seems to me that you are missing some steps. See this short guide: https://github.com/hasherezade/pe-bear-releases/wiki/Import-adding - I see you are at the step 5.

[2022-01-12 00:06] hasherezade commented on #42
@Kargin - I fixed it, please check out the new release: https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.5.1

[2022-01-12 01:37] hasherezade commented on #40
@xorhex - please check out the new release: https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.5.1

[2022-01-12 10:52] Kargin commented on #42
@hasherezade
Thank you for such fast fix, but I got a problem.

Ran PE-Bear from archive x64_win_vs13 and got this error:
![image](https://user-images.githubusercontent.com/4302614/149126198-9a5c78c8-eea7-457f-b1b3-1527db44721e.png)
Also there are no win_vs17 versions for some reason. I prefer them :)
Tried next OS:
Windows 10 Pro x64 10.0.17763
Windows 10 Pro x64 10.0.19042

Older version (0.5.5.

[2022-01-12 14:15] hasherezade commented on #42
@Kargin - ok, I am sorry: I see what happened. I was in a hurry, and mistakenly I uploaded the 64 bit build along with 32 bit DLLs, I will reupload the valid package shortly.

[2022-01-12 14:20] hasherezade commented on #42
ok, the new one is uploaded, check it out. ** win_vs17** will be added later today.

[2022-01-12 14:27] Kargin commented on #42
@hasherezade Thank you very much!  **x64_win_vs13** works now!

[2022-01-12 15:51] hasherezade commented on #42
@Kargin - the **win_vs17** builds are ready! please check them out, and feel free to close this issue once you are sure that everything is ok.

[2022-01-12 21:42] hasherezade commented on #40
@xorhex - feel free to close this issue once you are sure that it works as expected.

[2022-01-12 22:09] Kargin commented on #42
@hasherezade Thank you very much!
All versions work!
Closing issue.

[2022-01-12 22:09] #42 closed

[2022-01-15 17:45] hasherezade commented on #40
huh, I comparing it with the GUID displayed on VT, I see that still I got the endianness of one of the chunks wrong:
![pdb_filpped](https://user-images.githubusercontent.com/3115348/149632101-ea502afa-96c2-450f-83e7-25bbfc5d0208.png)
what I display as `F590` should be `90F5`.
I am gonna doublecheck it with other tools and fix it today.

[2022-01-15 22:37] hasherezade commented on #40
@xorhex - updated: https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.5.2 - now it should be ok

[2022-01-30 00:02] #40 closed

[2022-02-16 09:40] learn-more commented on #41
At step 5, I cannot edit those?
When I click on them, I get a popup telling me 'Address out of bounds!'

[2022-03-30 19:43] hasherezade opened #43 "PE-bear can’t handle the tiniest PEs from the Corkami collection"
PE-bear can’t handle tiny, but valid (working) PE files: 61 bytes, 97 bytes, 252 bytes and so on, while CFF Explorer handles this files correctly.

Here is a collection of valid (working) tiny PE files for testing:
https://github.com/corkami/pocs/tree/master/PE/bin

** reported by [`PE-bear Tester via blog`](https://hshrzd.wordpress.com/pe-bear/)**

[2022-04-06 18:25] #26 closed

[2022-05-30 20:13] Shadlock0133 opened #44 "Imports tab shows even if invalid"
PE-bear version: v0.5.5.3

I have an exe file with data directory size set to 0. This causes "Data Directory" view to be filled with garbage data (but it's not that important), and for some reason "Imports" tab is displayed, also filled with garbage.

Here is the file, compressed:
[main.zip](https://github.com/hasherezade/pe-bear-releases/files/8800595/main.zip)

[2022-05-31 12:52] hasherezade commented on #44
hi!
in the example that you shared, the VA of Import Table is non-zero (`1`), and also the size(`1000`):

![size_filled](https://user-images.githubusercontent.com/3115348/171175910-0890e6d9-f826-4e15-91ee-9471ef006f6f.png)

![garbage_table](https://user-images.githubusercontent.com/3115348/171177007-0aee7275-cebe-47bd-9c63-2391c0f7dfec.png)

so the attempt of parsing it is not a bug, but a valid b

[2022-05-31 13:18] Shadlock0133 commented on #44
I was mostly surprised because the data dir is supposed to be empty. So it contains "garbage" because it read data from sections headers.

[2022-05-31 13:55] hasherezade commented on #44
but in the Data Directory the Import Table is not empty - the RVA is set to `1`:

![filled](https://user-images.githubusercontent.com/3115348/171190560-902e78fa-7cda-495c-b438-9a89b3fd1c55.png)

So PE-bear reads whatever this RVA points to.

[2022-06-16 13:45] #44 closed

[2022-06-24 10:05] analyst321 commented on #2
Any updates on this :( ?

[2022-06-24 23:56] hasherezade commented on #2
@analyst321 - please check if it works for you:
+ [PE-bear_0.5.5.4_qt5.15_x64_macos.zip](https://github.com/hasherezade/pe-bear-releases/files/8983379/PE-bear_0.5.5.4_qt5.15_x64_macos.zip)

requires Qt 5.15.5

[2022-06-25 20:24] hasherezade commented on #2
@MalwareCantFly @upiter @analyst321 : FYI - in the latest release I included MacOS builds - check it out:
https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.5.4

[2022-06-26 10:17] analyst321 commented on #2
This is amazing! ... thank you for your hard work :)

[2022-06-26 20:18] hasherezade commented on #2
sorry for keeping you waiting for so long 😅
please let me know if everything works fine!

[2022-06-26 22:21] MalwareCantFly commented on #2
Definitely worth the wait :)
The QT bundled version even works on M1 mac! 🥳
Huge thanks @hasherezade for all your amazing work! 🙏

If anyone is interested, it's possible to easily add an icon to the **.app** using this [trick](https://apple.stackexchange.com/questions/352380/include-icon-in-manually-created-app-bundle).
<img width="136" alt="bear_icon" src="https://user-images.githubusercontent.co

[2022-06-27 00:36] hasherezade commented on #2
I am glad that you like it!
I will add the icon to the bundle on the next release, sorry for the inconvenience, I was in a hurry this time!

[2022-06-30 09:37] upiter commented on #2
@hasherezade, you rock! Thank you so much for providing native macOS build!

I've tested [0.5.5.4](https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.5.4) and found some issues mostly specific to macOS.
I can mention all issues here or **I can create separate issues with screens**.

## Preliminary issues list (macOS specific)

- Tab names size: **tab names are cut**; text may be unre

[2022-07-08 21:53] hasherezade opened #45 "Unhandled exception"
Test case:
+ [9f8fea26e6feeb902258313705cc32bd0cef064677c9f0896726ea8bcac82ebd ](https://www.virustotal.com/gui/file/9f8fea26e6feeb902258313705cc32bd0cef064677c9f0896726ea8bcac82ebd/details)

Loading of the sample causes an unhandled exception:

[code]

[2022-07-16 02:36] #45 closed

[2022-07-16 02:36] hasherezade commented on #45
Fixed in https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.5.5

[2022-07-20 02:40] vysecurity opened #46 "Compilation for ARM64"
Hi there, right now the release is using Intel MacOS, can we compile it for ARM64?

[2022-07-24 00:37] hasherezade commented on #46
hi @vysecurity !
yes, it is possible. I added [a build for ARM 32-bit](https://github.com/hasherezade/pe-bear-releases/releases/download/0.5.5.5/PE-bear_0.5.5.5_qt5.7_arm32.tar.xz), later I will also add a build for ARM64.

[2022-07-24 05:59] vysecurity commented on #46
Sure!

[2022-08-01 17:59] SCripe1 opened #47 "question about directing a professional courtesy email"
Good day.
I would like to send a notice of PE-bear software shown in an educational video, which will be available on online training platforms. To whom should I send my notification?
Thank you for your help.

[2022-08-01 20:42] hasherezade commented on #47
Good day @SCripe1 !
You are welcome to send details to hasherezade@pm.me

[2022-08-05 16:38] #47 closed

[2022-08-06 23:12] hasherezade commented on #46
@vysecurity - I added a build for ARM64, please check it out:
https://github.com/hasherezade/pe-bear-releases/releases/download/0.5.5.5/PE-bear_0.5.5.5_qt5.15_arm64.tar.xz

[2022-08-11 10:14] retsek860 opened #48 "PE-Bear wrongly identifies optional header magic number - Identifies Windows 64-bit calculator as 32-bit"
When disassembling `calc.exe` on Windows 10 64-bit I noticed that it identified the magic number (NT Headers > Optional Header > Magic) as `10B`, and labels it as `NT32`. Even in the hex editor window the value at offset `100` is `0B 01`. When analysing the program in CFF Explorer, HxD and Detect It Easy, they all identify it as `PE64`.

To recreate:
This is the standard calculator that comes with

[2022-08-12 01:45] hasherezade commented on #48
hi @retsek860 !
can you give me the exact path & hash of the calculator you was looking at? and even better, pack this executable for me, and attach it to the issue? I want to be 100% sure that we are looking at the same PE.
If you can add some screenshots illustrating what do you observe, it will be very helpful, so it will give me additional context of what is really happening.
The value `0B 01`

[2022-08-12 08:18] retsek860 commented on #48
Hi @hasherezade , yes I am sure I am opening the same PE in each program. `C:\Windows\System32\calc.exe`. I ran a SHA256 hash on the executable with 7zip: `58189cbd4e6dc0c7d8e66b6a6f75652fc9f4afc7ce0eba7d67d8c3feb0d5381f`
![Screenshot from 2022-08-12 09-15-06](https://user-images.githubusercontent.com/56343657/184313991-5d9fd8fa-ce90-405c-9ec6-86480088a1b0.png)

[2022-08-12 14:36] hasherezade commented on #48
@retsek860 - I am pretty sure that you are using PE-bear 32 bit, and what happens here is File System Redirection (the path to `C:\Windows\System32` is automatically converted to `C:\Windows\SysWOW64` when a 32-bit app references it).
So the path is misleading, and those are not the same instances of calc you are looking at.
Try with PE-bear 64 bit and you will see what I mean.
Example:
PE-bear 32

[2022-08-12 14:40] retsek860 commented on #48
I'm sorry you are right :)

[2022-08-12 14:40] #48 closed

[2022-08-12 14:41] hasherezade commented on #48
@retsek860 - no problem, glad that we solved it! :)

[2022-08-22 07:23] greenozon commented on #8
what are the plans in the summer'22? :)

[2022-08-22 17:56] hasherezade commented on #8
I am deeply sorry for this long delay, my TODO list is list is like a priority queue, and so many other things are more urgent and overtaking my time. I have other projects too, which need to be maintained, and of course I also need to do the paid job. Finally, when I have some free time, it is also tempting to spend it learning something new, and poking around in directions I didn't explore befor

[2022-08-30 23:11] hasherezade opened #49 "Invalid RVA to raw conversion"
Sample:
+ [d79a1940ea6204bd2796550c7d79638880944a3f343d2876a773926e1b9b843a](https://www.virustotal.com/gui/file/d79a1940ea6204bd2796550c7d79638880944a3f343d2876a773926e1b9b843a?nocache=1)

The sample is packed with Enigma protector, and has atypical sections alignment.

The fork of bearparser used in PE-bear does incorrect conversion of addresses (from RVA to raw), causing the data directories to

[2022-08-31 14:04] not6 opened #50 "Saving executable in pe-bear corrupts its icon"
seems to happen to every executable i try including pe-bear itself
how to replicate: open exe in pe-bear then save it, nothing else has to be done, no options have to be changed

a byte in the resource directory is changed for no apparent reason, causing this strange effect

examples:
![Example 1](https://i.imgur.com/dtedcUV.png)
![Example 2](https://i.imgur.com/tjk1G0D.png)

[2022-08-31 16:16] hasherezade commented on #50
hi @not6 !
you are right. thank you for reporting. it will be fixed in the upcoming release.

[2022-08-31 17:13] hasherezade commented on #50
@not6 - I fixed this bug and made a test build for you. please let me know if everything is fine now:
+ [PE-bear_0.5.5.6-rc2_x64_win_vs17.zip](https://github.com/hasherezade/pe-bear-releases/files/9463534/PE-bear_0.5.5.6-rc2_x64_win_vs17.zip)

I will ping you when the official release is ready.

[2022-08-31 18:18] not6 commented on #50
sorry for the late-ish response, i have tried your build and it's working perfectly. thank you!

[2022-08-31 18:24] hasherezade commented on #50
@not6 - thanks for checking! I am glad that all works fine now. feel free to ping me anytime if you notice that something is not ok.

[2022-09-05 04:52] hasherezade commented on #50
@not6 - check out the new release: https://github.com/hasherezade/pe-bear-releases/releases/tag/0.5.5.7

[2022-09-05 19:48] #50 closed

[2022-09-06 01:19] not6 commented on #50
just did a couple tests and it works perfectly! thank you and sorry i couldn't have checked earlier

[2022-09-14 10:49] jimdi opened #51 "can't open unicode filenames"
give a error while trying to open cyrillic filename

[2022-09-18 20:42] hasherezade commented on #49
Fixed in the release [0.6.0](https://github.com/hasherezade/pe-bear/releases/tag/v0.6.0)

![pebear_fixed](https://user-images.githubusercontent.com/3115348/190927371-17efeeb1-f5b0-440a-b7e3-f1c91f4664fc.png)

[2022-09-18 20:42] #49 closed

[2022-09-18 20:44] hasherezade commented on #8
FYI @evandrix @greenozon @mrexodia @SaifRushdHadad - I just Open Sourced PE-bear, it is available here:
+ https://github.com/hasherezade/pe-bear

[2022-09-21 17:29] hasherezade commented on #34
From now you can build Qt from the sources to avoid any of such issues: https://github.com/hasherezade/pe-bear

[2022-09-21 17:29] #34 closed

[2022-09-21 17:30] hasherezade commented on #29
From now you can build PE-bear from the sources to avoid any of such issues: https://github.com/hasherezade/pe-bear

[2022-09-21 17:30] #29 closed

[2022-09-21 17:31] hasherezade commented on #46
@vysecurity - from now PE-bear is open source, so you can build it for the platform of your choice: https://github.com/hasherezade/pe-bear

[2022-09-21 17:31] #46 closed